.m_footer
  background #fff
  padding-top 40px
  padding-bottom 40px
  font-size 16px
  color $text-light
  a
    color $link
    border-bottom 1px solid #bbcedc
    &:hover
      border-color $link
  b
    font-weight normal
    bold()
  .title
    text-transform uppercase
    color $text
    margin-bottom 20px
  .email
    margin-top 10px
    a
      border none
      &:hover
        border-bottom 1px solid $link
  .locate
    margin-bottom 10px
    p
      margin 0
  .developed
    margin-top 10px
    @media screen and (min-width: 768px)
      float right
  .contacts
    @media screen and (min-width: 768px)
      float left
