/*!=========================
      Base grid styles
==========================*/
html, body
  height 100%
body
  regular()
  font-size 24px
  line-height 1.2
  color #000
  background #fff

.wrapper
  clearfix()
  position relative
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
  width 100%
  @media screen and (min-width: 1250px)
    max-width $wrapper