// Layout
$wrapper = 1200px


$radius = 5px

$blue = #00b7f4
$blue-dark = #1d5d8b
$orange = #ea5b2e
$orange-hover = #c94f29

$sky = #f2fafc

$text = #000
$text-light = #555
$text-extra-light = #999
$link = #1d5d8b

$border = #d4e0e4

