.m_services
  background #fff
  padding-bottom 50px
  @media screen and (min-width: 768px)
    padding-bottom 70px
  .wrapper
    padding 0
  .paragraph
    padding 0 15px
  .slick-slide
    > div
      margin-bottom 10px
      &:last-child
        .slide
          margin-top 0
  .serv-carousel
    margin-top 20px
    @media screen and (min-width: 768px)
      padding-left 0px
      padding-right 0px
  .slide
    height 100px
    text-align center
    margin-top 20px
    .image
      background #fff
      box-shadow 4px 0 29px rgba(0,0,0,.11)
      max-width 80%
      max-height 90%
      line-height 90px
      margin 0 auto
    img
      display inline-block
      vertical-align middle
      max-width 90%
      max-height 90%