.m_stories
  background #e5f1f5
  padding-bottom 50px
  @media screen and (min-width: 768px)
    padding-bottom 70px
  .stories-carousel
    margin-top 40px
    .slide
      padding 0 1%
      height 350px
      margin-bottom 20px
      .slide-wrap
        position relative
        height 100%
        background #fff
        padding-top 5px
        border-radius 25px
        box-shadow 4px 0 29px rgba(131,136,137,0.11)
      .image
        width 150px
        height 150px
        border-radius 50%
        overflow hidden
        background-position 50%
        background-repeat no-repeat
        background-size cover
        margin 20px auto
      .paragraph
        regular()
        padding 0 10px
      .user-info
        bold()
        position absolute
        left 0
        bottom 20px
        width 100%
        font-size 16px
        text-align center
